::placeholder {
    color: rgb(255, 255, 255);
    opacity: 10;
    /* Firefox */
}

.game-store {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

/* Responsive adjustments */
@media (max-width: 1920px) {
    .game-store {
        width: 100%;
        height: auto;
        min-height: 1080px;
    }
}

.search-bar {
    margin-top: 40px;
    font-size: 20px;
    background-color: #7E82DF;
    color: white;
    width: 950px;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    border-color: #7E82DF;
    border-style: solid 1px;
    font: 400 24px Kanit, sans-serif;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-icon {
    margin-left: 20px;
}

.new-releases-container {
    border-radius: 40px;
    color: #7E82DF;
    border: 2px solid #7E82DF;
    width: 1021px;
    margin-left: 86px;
    margin-right: 0px;
    margin-bottom: 40px;
    background-color: rgb(62, 61, 117, 0.24);
}

.image-slide {
    width: 1020.1px;
    height: 600.748px;
    flex-shrink: 0;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -80px;
    color: #7E82DF;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 814px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 88px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.new-releases-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin-left: 400.748px;
}

.Slides {
    margin-top: 30px;
}

.Space {
    margin-bottom: 40px;
}

.game-name-display {
    font: 32px Kanit, sans-serif;
    color: white;
    font-weight: bold;
    border-bottom-style: solid;
    width: fit-content;
}

.game-price-display {
    font: 24px Kanit, sans-serif;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.price-label {
    color: #7E82DF;
}

.game-compatibility-display {
    position: absolute;
    margin-left: 840px;
    float: right;
}

.game-info-container {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.image-slide {
    width: 1020.1px;
    height: 600.748px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.image-slide.fade {
    opacity: 0;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #000000;
}


.new-releases-container,
.recommended-games-container {
    flex: 1;
}

.recommended-games-container {
    color: #7E82DF;
    margin: 0 auto 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(62, 61, 117, 0.8); 
    border-radius: 8px;
    width: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.recommended-games-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0px;
    width: 400px;
    text-align: center;
    border-radius: 8px;
}

.recommended-game {
    display: flex;
    border-radius: 8px;
    width: 100%; /* Games take full width of the container */
    text-align: center;
    overflow: hidden; /* Center the text */
}

.recommended-game .game-price {
    font-size: 20px; /* Adjust font size as needed */
    color: #ffffff;
}

.game-image{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.Right-Side1{
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.Right-Side2{
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.Right-Side3{
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}