::placeholder {
    color: rgb(255, 255, 255);
    opacity: 10;
    /* Firefox */
}

.game-store {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

/* Responsive adjustments */
@media (max-width: 1920px) {
    .game-store {
        width: 100%;
        height: auto;
        min-height: 1080px;
    }
}

.search-bar {
    margin-top: 40px;
    font-size: 20px;
    background-color: #7E82DF;
    color: white;
    width: 950px;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    border-color: #7E82DF;
    border-style: solid 1px;
    font: 400 24px Kanit, sans-serif;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-icon {
    margin-left: 20px;
}

.new-releases-container {
    border-radius: 40px;
    color: #7E82DF;
    border: 2px solid #7E82DF;
    width: 1021px;
    margin-left: 86px;
    margin-right: 0px;
    margin-bottom: 20px;
    background-color: rgb(62, 61, 117, 0.24);
    position: relative;
}

.image-slide {
    width: 1020.1px;
    height: 600.748px;
    flex-shrink: 0;

}

.prev,
.next {
    background-color: transparent; /* Make the button background transparent */
    color: #7E82DF; /* Set the arrow color */
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #7E82DF;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 10;
}

.next {
    position: absolute;
    right: -1px;
    border-radius: 3px 0 0 3px;
}

.prev {
    position: absolute;
    left: -1px;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.new-releases-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin-left: 400.748px;
}

.Slides {
    margin-top: 30px;
}

.Space {
    margin-bottom: 70px;
}

.game-name-display {
    font: 32px Kanit, sans-serif;
    color: white;
    font-weight: bold;
    border-bottom-style: solid;
    width: fit-content;
}

.game-price-display {
    font: 24px Kanit, sans-serif;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.price-label {
    color: #7E82DF;
}

.game-compatibility-display {
    position: absolute;
    margin-left: 840px;
    float: right;
}

.game-info-container {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.image-slide {
    width: 1020.1px;
    height: 600.748px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.image-slide.fade {
    opacity: 0;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #000000;
}


.new-releases-container,
.recommended-games-container {
    flex: 1;
}

.recommended-games-container {
    color: #7E82DF;
    margin: 0px 86px 0px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 2px 0px 50px;
    width: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.recommended-games-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 10px 80px 10px 100px;
    width: 400px;
    text-align: center;
    background-color: rgb(62, 61, 117, 0.24);
    border-radius: 50px 50px 50px 50px;
    margin: 0px 0px 0px 0px;
}

.recommended-game {
    display: flex;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    overflow: auto;
    margin-left: 50px;
}

.recommended-game .game-price {
    font-size: 20px;
    color: #ffffff;
}

.game-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.Right-Side1 {
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.Right-Side2 {
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.Right-Side3 {
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.main-content2{
    margin-bottom: 0px;
}
.line {
    border-top: 1px #7E82DF;
}

.games-on-sale-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #7E82DF;
}

/* General Styles for Game Cards Container */
.sale-slider {
    display: flex;
    justify-content: center; /* Aligns items to the start of the container */
    align-items: center;
    gap: 20px; /* Adjust as needed for spacing between cards */
    padding: 0 10px; /* Add padding to the left and right of the slider for spacing */
}

.sale-item {
    background-color: rgba(62, 61, 117, 0.24); /* Semi-transparent background */
    color: white;
    width: 250px; /* Fixed width */
    min-width: 250px;
    height: 370px; /* Fixed height, adjust as needed */
    padding: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will distribute space evenly between the items */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}

.original-price,
.sale-price,
.discount {
    display: block; /* Make these span behave like block elements */
    width: 100%; /* Full width */
    text-align: center; /* Center the text */
}

/* Ensure images have a consistent size */
.sale-image {
    height: 120px; /* Fixed height for images */
    object-fit: cover; /* Cover the area without breaking the aspect ratio */
    border-radius: 5px;
}
.sale-info {
    text-align: center;
    margin: auto;
}

.original-price {
    text-decoration: line-through; /* Strike through for original price */
    color: #777; /* Grey out the original price */
}

.sale-price {
    color: #e0e0e0; /* Lighter text for sale price */
    font-weight: bold;
}

.discount {
    background-color: #7E82DF; /* Set the discount background color */
    color: white; /* Set the text color to white */
    font-size: 16px; /* Set the font size, adjust as needed */
    width: 60px; /* Set a fixed width to ensure consistency */
    height: 30px; /* Set a fixed height to ensure consistency */
    line-height: 30px; /* Set the line height to match the height for vertical centering */
    text-align: center; /* Center the text horizontally */
    border-radius: 5px; /* Rounded corners for the discount tag */
    margin: 10px auto; /* Center the discount badge horizontally */
    display: block; /* Change display to block to enable margin auto to work */
}

.game-name{
    font-size: 18px;
}

.slider-controls{
    margin-top: 20px;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; /* Text color on hover */
}

.next-button{
    left: 50%; 
    transform: translateX(0); 
}

.prev-button{
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
}

.prev-button, .next-button{
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 4px 15px 4px 15px;
    color: #7E82DF;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    z-index: 10;
    border-color: transparent;
}

.Space1{
    height: 100px;
}

.RG-Title{
    margin-top: 2px;
}