.home_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.home_main a {
    text-decoration: none;
}

.home_articles {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: fit-content;

    background-color: #33344A;
    border-radius: 40px;
}

.home_element_titles {
    margin: 15px auto;
    color: #7E82DF;
    font: 700 24px Inter, sans-serif;
}

.load_more {
    text-align: center;
    color: white;
    font: 700 24px Inter, sans-serif;
    text-decoration: none;
    margin: 10px auto;
}

.load_end {
    text-align: center;
    color: white;
    font: 700 24px Inter, sans-serif;
    text-decoration: none;
    margin: 10px auto;
}

.load_more:hover {
    cursor: pointer;
    text-decoration: underline;
}

.home_posts {
    display: flex;
    flex-direction: column;

    width: 820px;
    height: auto;
}

.home_extra {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: fit-content;
}

.home_people, .home_games {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: fit-content;

    background-color: #33344A;
    border-radius: 40px;
    margin-bottom: 35px;
}