.main_content {
    background-color: #2D2E37;
    width: 1920px;
    height: auto;
}

.text_container1 {
    position: relative;
    top: 332px;
    left: 233px;
    width: 850px;
}

.intro_title {
    padding: 0;
    margin: 0;
    color: #7E82DF;
    font: 900 48px Inter, sans-serif;
}

.highlighted {
    color: white;
}

.intro_text {
    padding: 0;
    margin: 0;
    color: white;
    font: 500 24px Inter, sans-serif;
}

.text_container2 {
    position: relative;
    float: right;
    top: 920px;
    right: 230px;
}

.link {
    color: white;
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    color: #7E82DF;
}

.example {
    position: absolute;
}

#example1 {
    top: 1290px;
    left: 117px;
    rotate: -20deg;
}

#example2 {
    top: 1398px;
    left: 1040px;
    rotate: 10deg;
}

.text_container3 {
    width: 837px;
    text-align: center;

    position: relative;
    top: 1594px;
    left: 541px;
}

.text {
    padding: 0;
    padding-bottom: 16px;
    margin: 0;
    color: white;
    font: 500 24px Inter, sans-serif;
}

.text2 {
    padding: 0;
    padding-bottom: 16px;
    margin: 0;
    color: #7E82DF;
    font: 500 24px Inter, sans-serif;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 100px;
    background-color: #33344A;
    top: 2604px;
    display: flex;
    justify-content: space-between;
}

.left_footer {
    color: white;
    margin-left: 100px;
    align-self: center;
    font: 400 24px Inter, sans-serif;
}

.right_footer {
    display: flex;
    justify-content: space-between;
    width: 760px;
}

.right_footer a {
    color: white;
    margin-right: 100px;
    font: 400 24px Inter, sans-serif;
    align-self: center;
}

.right_footer a:hover {
    color: #7E82DF;
}