.following_overlay_background {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px 720px;

    width: 500px;
    height: 600px;


    background-color: #33344A;
    border-radius: 25px;
    border: 4px solid #7E82DF;

    z-index: 2;
}
.following_overlay_title {
    color: #7E82DF;
    font: bold 32px Inter, sans-serif;
}

.following_close {
    position: fixed;
    background-color: transparent;
    background-image: url('../../assets/Close.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    top: 200px;
    left: 1160px;
}

.following_people {
    width: 100%;
    overflow-y: auto;
}

.following_person_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.following_person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    margin: 20px 0px;
}

.follow_person_default_img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 20px;
}

.follow_person_img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 2px solid #7E82DF;
    margin-left: 20px;
}

.following_person_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.following_person_info h1 {
    margin: 0px 15px;
    color: white;
    font: 500 20px Inter, sans-serif
}

.following_person_info h2 {
    margin: 0px 15px;
    color: #7E82DF;
    font: 500 20px Inter, sans-serif
}

.following_remove {
    background-color: transparent;
    background-image: url('../../assets/close2.png');
    width: 25px;
    height: 25px;
    border: none;
    margin-right: 20px;
}

.following-person{
    border-top: solid #6E72CF 2px;
    display: grid;
    grid-template-columns: 80px 280px 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.following-person-img{
    width : 55px;
    aspect-ratio: 1/1;
    border-radius: 50%;

}
.username-fullname-container-following{
    display: flex;
    flex-direction: column;
}
.following-person-fullname{
    color: #fff;
    font-size: 25px;
}
.following-person-username{
    margin-top: 3px;
    font-size: 18px;
    color: #fff;
}
.remove-following{
    font-size: 16px;
    color: #fff;
}