.expanded_post_screen {
    width: 100%;
    height: auto;

    margin-top: 50px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.expanded_post {
    width: 1185px;
    height: auto;

    display: flex;
    flex-direction: column;
    
    border-radius: 40px;
    background-color:#33344A;
}

.expanded_post_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px;
    margin-bottom: 0;
}

.expanded_post_title h1 {
    margin: 0;
    color: white;
    font: 500 24px Inter, sans-serif;
}

.expanded_post_author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px;
    margin-bottom: 10px;
}

.expanded_post_author h1 {
    margin: 0;
    font: 500 20px Inter, sans-serif;
    color: #7E82DF;
}

.expanded_post_author h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.expanded_post_author p {
    display: inline;
    margin: 0;
    font: 500 20px Inter, sans-serif;
    color: #B0B0B0;
}

.expanded_post_tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.expanded_post_tags li {
    color: white;
    font: 400 16px Inter, sans-serif;
    margin-left: 5px;
}

.expanded_tag {
    margin-right: 0;
    margin-left: 10px;
    padding: 2px 5px;
    color: white;
    font: 400 16px Inter, sans-serif;
    background-color: #7E82DF;
    border-radius: 8px;
    border: none;
}

.expanded_post_description {
    color: #B0B0B0;
    margin: 10px 18px;
    font: 500 16px Inter, sans-serif;
}

.expanded_post_image {
    margin: 10px 20px;
    border-radius: 20px;
    width: 60%;
    height: auto;
    align-self: center;
}

.expanded_post_bottom {
    width: 100%;
    height: auto;
}

.expanded_post_like {
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url('../../assets/like.png');
    float: right;
    margin: 10px 25px;
}

.expanded_post_like:hover {
    cursor: pointer;
    opacity: 0.5;
}

.expanded_filled {
    background-image: url('../../assets/LikeFilled.png');
}

.expanded_post_comment_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 18px;
    align-items: center;
}

.expanded_post_comment_top p {
    color: #B0B0B0;
    font: 500 16px Inter, sans-serif;
}
.expanded_post_comment_top button {
    width: 160px;
    height: 40px;
    color: white;
    font: 500 16px Inter, sans-serif;
    background-color: #7E82DF;
    border: none;
    border-radius: 15px;
}

.expanded_post_comments {
    display: flex;
    flex-direction: column;
}

.post_comment {
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;

    border-radius: 20px;
    background-color: #4E5080;

    margin: 15px 18px;
}

.post_comment_author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 10px;
}

.post_comment_profile {
    display: flex;
    flex-direction: row;

    margin: 5px 0;
    align-items: center;
}

.comment_default_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment_person_image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #7E82DF;
}

.post_comment_profile p {
    margin: 0;
    margin-left: 10px;
    color: white;
    font: 500 16px Inter, sans-serif;
}

.comment_description {
    color: #B0B0B0;
    font: 500 16px Inter, sans-serif;
    margin: 0 10px;
}

.comment_bottom {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.comment_bottom p {
    margin: 0;
    color: white;
    font: 500 16px Inter, sans-serif;
}

.comment-options-button {
    width: 20px;
    height: 6px;
    background-color:#4E5080;
    background-image: url('../../assets/More.png');
    border:none;
}

.related_posts {
    display: flex;
    flex-direction: column;

    width: 510px;
    height: fit-content;

    background-color: #33344A;
    border-radius: 40px;
}