::placeholder {
    color: rgb(255, 255, 255);
    opacity: 10;
}

.game_store {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game_store_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.game_store_search {
    width: 850px;
    height: 50px;
    background-color: #7E82DF;
    border-radius: 5px;

    border: none;
    align-self: center;
    font: 400 24px Inter, sans-serif;
    color: white;

    box-sizing: border-box;
    padding-left: 20px;
    margin-left: 40px;
}

.game_store_search_button {
    position: relative;
    height: 40px;
    width: 40px;
    top: 5px;
    left: -45px;
    background-color: transparent;
    background-image: url('../../assets/Search.png');
    border: none;
}

.game_store_search_button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.game_store_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 50px;
    margin-bottom: 40px;
}

.game_store_release {
    display: flex;
    flex-direction: column;

    width: 1018px;
    height: fit-content;

    background-color: #33344A;
    border-radius: 30px;
    border: 1px solid #7E82DF;
}

.game_store_release h1 {
    color: #7E82DF;
    font: 700 24px Inter, sans-serif;
    margin: 20px auto;
}

.game_store_release img {
    width: 100%;
    height: 574px;
    object-fit: cover;
    overflow: hidden;
}

.release_prev_button,
.release_next_button {
    position: absolute;
    top: 60%;

    width: auto;
    color: #7E82DF;
    background-color: transparent; 
    font: bold 50px Inter, sans-serif;
    transition: 0.6s ease;
    border: none;
    opacity: 0.5;
    z-index: 1;
}

.release_prev_button {
    border-radius: 0 10px 10px 0;
}

.release_next_button {
    left: 1051px;
    border-radius: 10px 0 0 10px;
}

.release_prev_button:hover,
.release_next_button:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #33344A;
}

.game_release_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 20px;
}

.game_release_info h2 {
    margin: 0;
    color: white;
    font: 700 24px Inter, sans-serif;
}

.game_release_info h2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.game_release_info h3 {
    margin: 0;
    color: #7E82DF;
    margin-top: 5px;
    font: 400 20px Inter, sans-serif;
}

.game_release_info p {
    display: inline;
    margin: 0;
    color: white;
    font: 400 20px Inter, sans-serif;
}

.game_release_availability {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game_release_availability img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.game_release_dots {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    margin-bottom: 10px;
    align-items: center;
}

.release_dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.release_dot:hover {
    cursor: pointer;
    opacity: 0.5;
}

.active_dot {
    height: 15px;
    width: 15px;
    background-color: #7E82DF;
}

.game_store_recommended {
    display: flex;
    flex-direction: column;

    width: 678px;
    height: fit-content;

    background-color: #33344A;
    border-radius: 30px;
}

.game_store_recommended h1 {
    color: #7E82DF;
    font: 700 24px Inter, sans-serif;
    margin: 10px auto;
}

.game_store_recom_games {
    display: flex;
    flex-direction: column;

    width: 658px;
    height: fit-content;
    margin: 20px 10px;
}

.store_sale_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale_title {
    color: #7E82DF;
    font: 700 32px Inter, sans-serif;
}

.sale_slider {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    padding: 0 10px; 
}

.sale_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 330px;
    height: 390px;

    color: white;
    background-color: #33344A;

    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease; 
}

.sale_image {
    width: 310px;
    object-fit: contain;
    border-radius: 20px;
}

.sale_info {
    display: flex;
    flex-direction: column;
}

.sale_game_title {
    color: white;
    font: 700 24px Inter, sans-serif;
}

.sale_game_title:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #7E82DF;
}

.sale_info_section {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sale_price_section {
    display: flex;
    flex-direction: row;;
}

.sale_original_price {
    color: #7E82DF;
    margin: 0;
    text-decoration: line-through;
    font: 300 20px Inter, sans-serif;
}

.sale_sale_price {
    color: white;
    margin: 0;
    margin-left: 10px;
    font: 300 20px Inter, sans-serif;
}

.sale_discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 60px;
    height: 30px;

    color: white;
    background-color: #7E82DF; 
     
    font: 800 20px Inter, sans-serif; 
    border-radius: 20px;
}

.sale_game_availability {
    margin: 10px 10px;
}

.sale_game_availability img {
    margin: 10px 10px;
}































@media (max-width: 1920px) {
    .game-store {
        width: 100%;
        height: auto;
        min-height: 1080px;
    }
}

.search-bar {
    margin-top: 40px;
    font-size: 20px;
    background-color: #7E82DF;
    color: white;
    width: 950px;
    height: 50px;
    border-radius: 8px;
    border-color: #7E82DF;
    border-style: solid 1px;
    font: 400 24px Kanit, sans-serif;
    margin-left: 320px;
    margin-bottom: 20px;
}



.search-bar-icon {
    margin-left: 20px;
}

.new-releases-container {
    border-radius: 40px;
    color: #7E82DF;
    border: 2px solid #7E82DF;
    width: 1021px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 20px;
    background-color: rgb(62, 61, 117, 0.24);
    position: relative;
    margin-top: 0px;
}

.image-slide {
    width: 1020.1px;
    height: 600.748px;
    flex-shrink: 0;

}



.new-releases-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin-left: 400.748px;
}

.Slides {
    margin-top: 30px;
}
.top-container,.main-content,.main-content2,.Space{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1860px;
}
.main_d
.Space {
    margin-bottom: 70px;
}

.game-name-display {
    font: 32px Kanit, sans-serif;
    color: white;
    font-weight: bold;
    border-bottom-style: solid;
    width: fit-content;
}

.game-price-display {
    font: 24px Kanit, sans-serif;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.price-label {
    color: #7E82DF;
}

.game-compatibility-display {
    position: absolute;
    margin-left: 840px;
    float: right;
}

.game-info-container {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.image-slide {
    width: 1020.1px;
    height: 600.748px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.image-slide.fade {
    opacity: 0;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #000000;
}


.new-releases-container,
.recommended-games-container {
    flex: 1;
}

.recommended-games-container {
    color: #7E82DF;
    margin: 0px 86px 0px 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 2px 0px 50px;
    width: auto;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.recommended-games-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 10px 80px 10px 100px;
    width: 400px;
    text-align: center;
    background-color: rgb(62, 61, 117, 0.24);
    border-radius: 50px 50px 50px 50px;
    margin: 0px 0px 0px 0px;
}

.recommended-game {
    display: flex;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    overflow: auto;
    margin-left: 50px;
}

.recommended-game .game-price {
    font-size: 20px;
    color: #ffffff;
}

.game-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    cursor: pointer;
}

.Right-Side1 {
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.Right-Side2 {
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.Right-Side3 {
    margin-right: 0px;
    margin-left: 20px;
    text-align: left;
}

.main-content2{
    margin-bottom: 0px;
}


.games-on-sale-title {
    font: 32px Kanit, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #7E82DF;
}






.original-price,
.sale-price,
.discount {
    display: block;
    width: 100%; 
    text-align: center; 
}


.sale-image {
    min-height: 120px;
    max-height: 120px; 
    object-fit: cover; 
    border-radius: 5px;
    max-width: 213.333px;
    cursor: pointer;
}
.sale-info {
    text-align: center;
    margin: auto;
}

.original-price {
    text-decoration: line-through; 
    color: #777; 
}

.sale-price {
    color: #e0e0e0;
    font-weight: bold;
}

.discount {
    background-color: #7E82DF; 
    color: white; 
    font-size: 16px; 
    width: 60px; 
    height: 30px;
    line-height: 30px; 
    text-align: center; 
    margin: 10px auto; 
    display: block; 
}

.game-name{
    font-size: 18px;
}

.slider-controls{
    margin-top: 20px;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; 
}

.next-button{
    left: 50%; 
    transform: translateX(0); 
}

.prev-button{
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
}

.prev-button, .next-button{
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 4px 15px 4px 15px;
    color: #7E82DF;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    z-index: 10;
    border-color: transparent;
}

.Space1{
    height: 100px;
}

.RG-Title{
    margin-top: 2px;
    cursor: pointer;
}

.game-name-display:hover, .game-name:hover{
    color: #7E82DF;
    cursor: pointer;
}

.RG-Title:hover{
    color: white;
}

.GS_BackButton{
    margin-left: 50px; 
   transform: rotate(180deg);
   margin-top: 22px;
}

.GS_BackButton:hover{
    cursor: pointer;
    opacity: 0.4;
}

.GameSearch-Button{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50px;
    left: 1325px;
    background-color: #7e82df;
    background-image: url(../../assets/Search.png);
    border: none;
}

.GameSearch-Button:hover {
    cursor: pointer;
    opacity: 0.4;
}
