.game_detail_page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
    margin-top: 50px;
}

.game_detail_left {
    width: 1085px;
}

.game_detail_title {
    margin: 0;
    margin: 10px 0px;
    color: #7E82DF;
    font: 700 36px Inter, sans-serif;
}

.game_detail_slide_image {
    width: 1085px;
    height: 600px;
    border-radius: 40px;
    transition: opacity 0.5s ease-in-out;
    border: 1px solid #7E82DF;
}

.fade {
    opacity: 0;
}

.detail_prev_button,
.detail_next_button {
    position: absolute;
    top: 50%;

    width: auto;
    color: #7E82DF;
    background-color: transparent; 
    font: bold 50px Inter, sans-serif;
    transition: 0.6s ease;
    border: none;
    opacity: 0.5;
    z-index: 1;
}

.detail_prev_button {
    left: 72px;
    padding: 0px 8px;
    border-radius: 0 10px 10px 0;
}

.detail_next_button {
    left: 1115px;
    padding: 0px 8px;
    border-radius: 10px 0 0 10px;
}

.detail_prev_button:hover,
.detail_next_button:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #33344A;
}

.game_detail_dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.game_detail_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.game_detail_tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.game_detail_tags li {
    color: white;
    font: 400 16px Inter, sans-serif;
    margin-left: 5px;
}

.detail_tag {
    margin-right: 0;
    margin-left: 10px;
    padding: 2px 5px;
    color: white;
    font: 400 16px Inter, sans-serif;
    background-color: #7E82DF;
    border-radius: 8px;
    border: none;
}

.game_detail_availability img{
    margin-left: 15px;
}

.game_detail_description {
    margin: 20px;
    color: #B0B0B0;
    font: 400 24px Inter, sans-serif;
}

.detail_review_button {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    font: bold 20px Inter, sans-serif;

    margin-top: 20px;
    align-self: center;
    transition: 0.4s ease;
}

.detail_review_button:hover {
    cursor: pointer;
    color: #7E82DF;
}

.detail_review {
    color: white;
    background-color: #37384F;
    padding: 15px;
    border-radius: 15px;
    font: 400 20px Inter, sans-serif;
}

.game_detail_right {
    display: flex;
    flex-direction: column;
    width: 610px;
}

.game_detail_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #37384F;
    border-radius: 40px;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 60px;
}

.game_detail_info h2 {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #7E82DF;
    font: 600 30px Inter, sans-serif;
}

.game_detail_info h3 {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #7E82DF;
    font: 500 22px Inter, sans-serif;
}

.game_detail_info p {
    display: inline;
    margin: 0;
    color: white;
}

.game_detail_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.game_detail_buttons button {
    padding: 10px 8px;
    color: white;
    background-color: #7E82DF;
    border: none;
    border-radius: 10px;
    font: 600 20px Inter, sans-serif;
}

.detail_similar_games {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: fit-content;

    background-color: #33344A;
    border-radius: 40px;
    margin-top: 75px;
    margin-bottom: 35px;
}














.TW3K_Title {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #7E82DF;
    font: 700 36px Inter, sans-serif;
    position: relative;

}

.Game_Slides {
    position: relative;
    align-items: left;
    margin-left: 86px;
}

.Slide_Images {
    width: 1020.1px;
    height: 600.748px;
    border-radius: 40px;
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.Slide_Images.fade {
    opacity: 0;
}


.Image_Prev,
.Image_Next {
    background-color: transparent;
    color: #7E82DF;
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: #7E82DF;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 1;
    margin-top: 250px;
}

.Image_Next {
    position: absolute;
    left: 962px;
    border-radius: 3px 0 0 3px;
}

.Image_Prev {
    position: absolute;
    left: 0px;
    border-radius: 3px 0 0 3px;
}


.Image_Prev:hover,
.Image_Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.TagsC {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.TagsR {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.Tag1,
.Tag2,
.Tag3 {
    color: white;
    font-size: 8px;
    font-weight: bold;
    background-color: #7E82DF;
}

.Tag1 {
    padding: 15px 10px 0px 10px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 15px;
}

.Tag2 {
    margin-left: 20px;
    padding: 15px 10px 0px 10px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 15px;
}


.Tag3 {
    margin-left: 20px;
    padding: 15px 10px 0px 10px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 15px;
}

.TagName {
    margin: 0px;
}

.PC_Logo {
    margin-left: 440px;
    margin-top: 19.5px;
}

.Game_Description {
    font-size: 20px;
    font-family: Kanit, sans-serif;
    color: white;
    width: 1000px;
    line-height: 150%;
}

.dots-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    width: fit-content;
    margin: 0 auto;
}

.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot2.active {
    background-color: #000000;
}

.show {
    display: block;
}



.main-content {
    display: flex;
    align-items: start;
}

.Rightside_Content {
    margin-top: 112px;
    flex-grow: 1;
    margin-left: 30px;
    flex-direction: column;
    justify-content: flex-start;
}

.Buy_Container {
    margin-top: 0px;
    background-color: #37384F;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    width: 550px;
    margin-left: 86px;
    top: 20px;
}

.ButtonR {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.ButtonC {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Buy_PC,
.Buy_XBOX {
    background-color: #7E82DF;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;

}

.Buy_PC {
    margin-left: 45px;
}

.Buy_XBOX {
    margin-left: 20px;
}

.Line_Space {
    height: 3px;
    /* Set the height of the line */
    border: none;
    /* Remove any default border */
    background-color: #7E82DF;
    /* Set the line color */
    width: 100%;
    /* Set the line to take the full width of its container */
    margin-top: 10px;
}

.Line_Space2 {
    height: 3px;
    /* Set the height of the line */
    border: none;
    /* Remove any default border */
    background-color: #7E82DF;
    /* Set the line color */
    width: 100%;
    /* Set the line to take the full width of its container */
    margin-top: 10px;
    margin-bottom: 20px;
}

.Rating {
    color: #ffffff;
}

.Similar_Games_Container {
    color: #7E82DF;
    margin-top: 0px;
    background-color: #37384F;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    width: 550px;
    margin-left: 86px;
    top: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.Similar_Games_Title {
    text-align: center;
}

.Similar_Game_Names {
    color: white;
    text-decoration: underline;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 10px;
    cursor: pointer;
}

.Similar_Game_Names2 {
    color: white;
    text-decoration: underline;
    font-weight: lighter;
    color: #ffffff;
    margin-top: 0px;
    text-align: left;
    cursor: pointer;

}


.WarHammer3,
.HeartofIron4,
.TroyGame,
.AOE4 {
    width: 550px;
    margin: auto;
    cursor: pointer;
}

.More_Similar_Games {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    font-family: Kanit, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    cursor: pointer;
}

.Buy_Link {
    text-decoration: none;
}


.GS_BackButton2 {
    margin-left: 0px;
    margin-top: 19px;
    margin-right: 20px;
    height: auto;
    /* Removes any margin on the left */
    transform: rotate(180deg);
    
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.GS_BackButton2:hover{
    cursor: pointer;
    opacity: 0.4;
}