.notification-overlay{
    position: fixed;
    width: 610px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    z-index: 10000;
    background-color:#33344A; ;
    border-radius: 20px;
}
.background-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
}
.notification-wrapper{
    display: grid;
    grid-template-columns: 80px 380px 80px;
    padding: 10px;
    height: 100px;
    width: 86%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid black 2px;
    background-color: #7E82DF;
}
.notification_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: solid #33344A 4px;;
}
.notification-text{
    width: 340px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    
}
.notification-header{
    position: relative;
    top: -10px;
    left: -10px;
    border-radius: 15px;
    width: 102%;
}
.notification-desc{
    text-align: center;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 20px;
    font-size: 36px;
    color: #7E82DF;
}
.notification-close{
    position: absolute;
    left: 84%;
    top: 18px;
    width: 50px;
    height: 50px;
    background-image: url('../../assets/Close.png');
    cursor: pointer;
}
.delete-notification-button{
    position: relative;
    top: 10px;
    width: 30px;
    padding: 15px;
    aspect-ratio: 1/1;
    color: white;
    border-radius: 50%;
    border: solid white 3px;
    text-align: center;
    font-size: 28px;
    background-color: rgba(175,25,15,0.0);
    transition: 1s;
    cursor: pointer;
}
.delete-notification-button:hover{
    background-color: rgba(175,25,15,1.0);
}