.register_overlay_background {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 830px;

    position: fixed;
    margin: 70px 760px;
    background-color: #33344A;

    border-radius: 25px;
    border: solid #7E82DF 3px;

    z-index: 2;
}

.register_overlay_title {
    display: flex;
    justify-content: center;
}

.register_overlay_title p {
    margin: 10px 0 0 0;
    color: #7E82DF;
    font: 700 38px Inter, sans-serif;
}

.register_overlay_title button {
    position: fixed;
    background-color: transparent;
    background-image: url('../../assets/close2.png');
    width: 25px;
    height: 25px;
    border: none;
    top: 90px;
    left: 1165px;
}

.register_overlay_title button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.register_overlay_form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
}

.register_label {
    color: rgb(255,255,255);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.register_input {
    color: rgb(255,255,255);
    height: 30px;
    width: 380px;
    font-size: 20px;
    background-color: #7E82DF;
    margin-bottom: 7px;
    border: none;
    border-radius: 2px;;
    padding-left: 10px;
}

.field_error {
    background-color: lightcoral;
}

.password_requirement {
    color: #B0B0B0;
    font: 400 16px Inter, sans-serif;
    margin: 2px 0;
}

.register_button {
    width: 118px;
    height: 50px;
    background-color: #7E82DF;
    color: white;

    border-radius: 5px;
    border: none;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    font: 600 23px Inter, sans-serif;
}

.register_overlay_bottom {
    margin: 0 auto;
}

.register_overlay_bottom p {
    color: #7E82DF;
    font: 400 19px Inter, sans-serif;
}

.register_overlay_bottom a {
    color: white;
    font: 300 19px Inter, sans-serif;
}

.register_overlay_bottom a:hover {
    cursor: pointer;
    text-decoration: underline;
}