.dm_overlay {
    position: fixed;
    width: 20%;
    height: 80%;
    flex-shrink: 0;
    z-index: 10000;
    border-radius: 36px;
    border: 4px solid var(--Highlights, #7E82DF);
    background: var(--Elements, #33344A);
    overflow: auto;

    margin-left: 78%;
    margin-top: 150px;
    padding: 10px;

}

.msg_header{
    display: grid;
    grid-template-columns: 50px 275px 50px;
}

.msg_type {
    position: relative;
    text-align: center;

    border-top:2px solid var(--Highlights, #7E82DF);
    border-bottom:2px solid var(--Highlights, #7E82DF);

    padding-top: 20px;
    padding-bottom: 20px;

}

.users_idf{
    position: relative;
    text-align: center;

}

#txt_field{
    height: 15px;
    width: 82%;
    border-radius: 8px;
    background: var(--Highlights, #7E82DF);
    border: none;
    margin: auto;
}


#inbox_style{
    color: var(--Highlights, #7E82DF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.msg_btn {
    height: 40px;
    width: 40%;
    border-radius: 8px;
   
    flex-shrink: 0;
    position: relative;
    background: var(--Highlights, #7E82DF);    

    margin-left: 19px;
    margin-right: 19px;
    margin-top: 20px;

    color: var(--Title, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: solid #7E82DF 4px;
    text-align: center;
}
.msg_btn.selected{
    background-color:  #33344A;
}
.msg_btn:hover{
    background: var(--On-Hover, #4E5080);
    cursor: pointer;
}


.msg_btn:active{
    border-radius: 8px;
    border: 2px solid var(--Highlights, #7E82DF);
    background: var(--On-Click, #37384F);
}


#close_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #33344A;
    background-image: url('../assets/Close.png');
    border: none;
    transform: rotate(180deg);
}

#close_btn:hover {
    cursor: pointer;
    opacity: 0.4;
}

#newDm_btn{
    width: 50px;
    height: 51px;
    border-radius: 20%;
    background-color: #33344A;
    background-image: url('../assets/createChat.png');
    border: none;
    cursor: pointer;
}
#newDm_btn:hover{
    cursor: pointer;
    opacity: 0.4;
}

#newMsgheader{
    color: var(--Highlights, #7E82DF);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#back_btn{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: #33344A;
    background-image: url('../assets/Back.png');
    border: none;
    cursor: pointer;

}

#back_btn:hover{
    cursor: pointer;
    opacity: 0.4;
}

.user_profile{
    display: flex;
    margin: auto;
    border-bottom: 2px solid var(--Highlights, #7E82DF);
    cursor: pointer;

}

.user_profile:hover{
    background-color: #4E5080;
}

.user_pfp{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid var(--Highlights, #7E82DF);

    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;

    background-color: #33344A;

}

#usr_name{
    color: var(--Title, #FFF);
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;
}

#dp_name{
    color: var(--Title, #FFF);
    display: flex;

    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: auto;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-left: 2px;
    margin-right: 0px;
    margin: auto;

  }
  
  .chat-messages {
    position: absolute;
    bottom: 70px;
    padding: 10px;
    left: 25px;
    width: 80%;
  }
  
  .user-message {
    background-color: #7E82DF;
    color: #fff;
    position: relative;
    border-radius: 10px;
    max-width: 70%;
    padding: 10px;
    margin-bottom: 8px;
    left: 100%;
    transform: translateX(-100%);
    word-wrap: break-word;

    display: flex;
    flex-direction: column;
    align-self: flex-end;

  }
  
  /* not being used at the moment 
  .other-message {
    align-self: flex-start;
    background-color: #DDDDF5;
    color: #ffffff;
    border-radius: 10px;
    max-width: 70%;
    padding: 10px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  */

  .chat-input {
    display: grid;
    grid-template-columns: 350px 50px;
    margin-top: 10px;
    position: absolute;
    bottom: 15px;
  }

  #send_msg{
    position: relative;
    top: 4px;
    height: 45px;
    width: 45px;

    background-image: url(../assets/SendMsg_icon.png);
    background-color: #7E82DF;
    border: none;
  }
  
  /* This is what I changed, previously 'input' */
  .msg_type input, .chat-input input {
    flex: 1;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#7E82DF;
    color: #fff;
    font-size: 16px;
    overflow: auto;

  }
  .chat-input input{
    width: 365px;
  }
  
  #kenpfp{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid var(--Highlights, #7E82DF);

    background-color: #33344A;

  }

  #msg_header2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid var(--Highlights, #7E82DF);

  }
